@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: Candlescript;
    src: url("../fonts/UVF-Candlescript-Pro.otf") format("opentype");
}

/* Reset CSS */
* {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-script {
    font-family: Candlescript;
}

/* Start Cover Header */
.card-header {
    background: url("../images/img-header.jpg") 50% 30% / cover no-repeat;
    min-height: 500px;
}

@media only screen and (max-width: 600px) {
    .card-header > .text-content {
        padding-top: 5px !important;
        margin-left: 45% !important;
        max-width: 30vw !important;
        color: rgb(203 73 41 / 72%) !important;
        font-size: 1.8vw !important;
        text-align: center !important;
    }
}
.card-header > .text-content {
    padding-top: 15px;
    margin-left: 5%;
    max-width: 30vw;
    color: rgb(203 73 41 / 72%) !important;
    font-size: 1.8vw;
    text-align: center;
}

.card-header > .text-content > .text-name {
    font-size: 3rem;
}

.card-header > .text-content > .text-name > .name-header-1 {
    text-align: left;
    padding-bottom: 5px;
}

.card-header > .text-content > .text-name > .name-header-2 {
    text-align: right;
}

.card-header > .text-content > .text-name > .name-header-icon {
    padding-left: 50px;
}

@media (max-width: 768px) {
    .card-header > .text-content > h3 {
        font-size: 12px;
    }
}

/* --End Cover Header */

/* Start Body 1 */
.card-body-1 {
    background: url("../images/background-1.png") top center / cover no-repeat;
    background-color: rgba(243, 0, 0, 0.105);
    min-height: 450px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card-body-1 > .card-body-left > img {
    width: 380px;
    height: 480px;
    object-fit: cover;
    object-position: 0% 100%;
    margin-top: -130px;
    border: 3px solid white;
}

.card-body-1 > .card-body-right {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(244, 176, 184);
    border-radius: 16px;
    position: relative;
    margin: 25px 0px 50px 30px;
    padding: 35px;
    font-size: 20px;
}

.card-body-1 > .card-body-right > img {
    width: 138px;
    position: absolute;
    top: -12%;
    left: calc(50% - 60px);
    z-index: 1;
}

.card-body-1 > .card-body-right > .text-content {
    margin-top: 20px;
}

.card-body-1 > .card-body-right > .text-content > .text-script {
    font-size: 46px;
    color: red;
    padding: 15px;
}

/* Responsive layout*/
@media (max-width: 768px) {
    .card-body-left {
        order: 1;
        margin-top: 120px;
        margin-bottom: 30px;
    }

    .card-body-1 > .card-body-left > img {
        object-fit: cover;
        /* object-position: center; */
        width: 86vw;
    }

    .card-body-1 > .card-body-right {
        margin: 45px 15px;
        font-size: 16px;
        order: 0;
        margin-top: -120px;
        margin-bottom: 30px;
        font-size: 13px;
    }

    .card-body-1 > .card-body-right > .text-content > .text-script {
        font-size: 6vw;
    }
}

/* --End Body 1 */

/* Start Body 2 */
.card-body-2 {
    background: url("../images/background-2.png") top center / cover no-repeat;
    min-height: 567.5px;
    text-align: center;
}

.card-body-2 img {
    /* width: 200px; */
    height: 80px;
    margin: 36px 0;
}

.card-body-2 > .text-content {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.card-body-2 > .text-content img {
    /* width: 200px; */
    height: 200px;
    margin: 0 25px;
}

.card-body-2 .text-script {
    font-size: 60px;
}

.card-body-2 > .text-content > .text-content-1 {
    margin-bottom: 30px;
    display: flex;
    text-align: justify;
}

.card-body-2 > .text-content > .text-content-2 {
    display: flex;
    text-align: justify;
    margin-bottom: 60px;
}

.card-body-2 > .text-content > .text-content-2 .text-script {
    text-align: right;
}

@media (max-width: 768px) {
    .card-body-2 > .text-content {
        width: 90vw;
    }

    .text-content-1,
    .text-content-2 {
        flex-direction: column;
    }

    .text-content-2 div:nth-child(1) {
        order: 1;
    }

    .text-content-2 div:nth-child(2) {
        order: 0;
        text-align: right;
    }

    .card-body-2 .text-script {
        font-size: 36px;
    }
}

/* --End Body 2 */

/* Start Body 3 */
.card-body-3 {
    background: url("../images/background-3.jpg") top center / cover no-repeat;
    display: flex;
    text-align: center;
}

.card-body-3 > .text-content {
    padding: 40px;
    margin: 25px auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(244, 176, 184);
    border-radius: 16px;
    position: relative;
    font-size: 20px;
}

.card-body-3 > .text-content > img {
    width: 150px;
    position: absolute;
    top: -12%;
    left: calc(50% - 60px);
    z-index: 1;
}

.card-body-3 > .text-content > .text-script {
    font-size: 60px;
    color: red;
    padding: 15px;
}

.card-body-3 > .text-content > .col {
    display: flex;
    justify-content: space-evenly;
}

.card-body-3 > .text-content > .col h4 {
    color: red;
    margin-top: 15px;
}

/* Responsive layout*/
@media (max-width: 768px) {
    .card-body-3 > .text-content {
        margin: 40px auto;
        font-size: 12px;
        padding: 40px 5px 10px;
    }

    .card-body-3 > .text-content > img {
        width: 120px;
        top: -12%;
        left: calc(50% - 60px);
    }

    .card-body-3 > .text-content > .text-script {
        font-size: 26px;
    }

    .card-body-3 > .text-content > .col {
        font-size: 12px;
    }
}

/* --End Body 3 */

/* Start Body 4 */
.card-body-4 {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.card-body-4 > img {
    height: 80px;
    margin: 30px auto;
}

.card-body-4 > .text-content {
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
}

.card-body-4 > .text-content > h2 {
    margin-bottom: 15px;
}

/* .card-body-4>.gallery>a img { */
.card-body-4 > .gallery > img {
    width: 20vw;
    margin: 10px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.3s;
}

/* .card-body-4>.gallery>a img:hover { */
.card-body-4 > .gallery > img:hover {
    opacity: 0.7;
}

/* show Popup */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#imgShow {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Popup Content (Image) */
.popup-content {
    margin: auto;
    height: 90vh;
    object-fit: contain;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: -10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* The Next Button */
.popup .previous,
.popup .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    font-size: 24px;
    z-index: 1;
}

.popup .previous {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.popup .next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

/* Image Width on Smaller Screens */
@media only screen and (max-width: 768px) {
    /* .card-body-4>.gallery>a img { */
    .card-body-4 > .gallery > img {
        width: 42vw;
        margin: 5px;
    }

    .popup-content {
        width: 100%;
        height: auto;
        /* padding: 5px 0px; */
    }

    .card-body-4 > .text-content > h2 {
        font-size: 24px;
    }

    .close {
        top: -20px;
        right: 10px;
    }
}

/* --End Body 4 */

/* Start Body 5 */
.card-body-5 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card-body-5 > img {
    height: 80px;
    margin: 30px auto 15px;
}

.card-body-5 > .text-content {
    width: 100%;
    margin: 30px auto;
    padding: 0 60px;
    font-size: 20px;
}

.card-body-5 > .text-content > h2 {
    margin-bottom: 15px;
}

.card-body-5 > .story {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body-5 > .story > .story-text {
    background-color: #bfcfce46;
    width: 24vw;
}

.card-body-5 > .story > .story-text h4 {
    padding: 15px 0;
}

.card-body-5 > .story > .story-text p {
    text-align: justify;
    margin: 0 10px 10px;
}

.card-body-5 > .story > .story-img > img {
    width: 24vw;
}

@media only screen and (max-width: 768px) {
    .card-body-5 > .text-content {
        margin: 10px auto;
        font-size: 16px;
        padding: 0px;
    }

    .card-body-5 > .story > .story-text {
        width: 90vw;
        margin-bottom: 4px;
    }

    .card-body-5 > .story > .story-img > img {
        width: 90vw;
    }

    .card-body-5 > .text-content > h2 {
        font-size: 24px;
    }

    .story div:nth-child(5) {
        order: 6;
    }

    .story div:nth-child(6) {
        order: 5;
    }

    .story div:nth-child(7) {
        order: 8;
    }

    .story div:nth-child(8) {
        order: 7;
    }
}

/* --End Body 5 */

/* Start Footer */
.card-footer {
    background: url("../images/background-footer.jpg") top center / cover no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.card-footer > .card-footer-left {
    background-color: rgba(251, 224, 227, 0.349);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    margin: 20px 10px;
}

.card-footer > .card-footer-left h2 {
    padding: 20px 0px;
}

.card-footer > .card-footer-left p {
    padding: 0px 10px 15px;
}

.card-footer > .card-footer-right {
    background-color: rgba(251, 224, 227, 0.349);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    position: relative;
    margin: 25px 0px 50px 30px;
    padding: 35px;
    font-size: 20px;
}

.card-footer > .card-footer-right img {
    width: 150px;
}

.card-footer > .card-footer-right .title-time {
    color: red;
}

.card-footer > .card-footer-right > .right-1 {
    background-color: rgba(255, 255, 255, 0.773);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    padding: 15px 40px;
    margin-bottom: 20px;
}

.card-footer > .card-footer-right > .right-2 {
    background-color: rgba(255, 255, 255, 0.773);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    padding: 15px 40px;
}

@media only screen and (max-width: 768px) {
    .card-footer > .card-footer-left img {
        width: 80vw;
    }

    .card-footer > .card-footer-right {
        margin: auto;
    }
}

/* --End Footer */

/* Start Audio */

#music-control {
    position: sticky;
    bottom: 20px;
    margin-left: 15px;
    display: flex;
    /* position: relative;; */
}

#music-button {
    background-color: #df4758ed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    animation: blink 1s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 0 2px transparent;
    }

    50% {
        box-shadow: 0 0 0 2px lightcoral;
    }

    100% {
        box-shadow: 0 0 0 2px transparent;
    }
}

#status-text {
    font-size: 18px;
    width: auto;
    padding: 5px;
    margin-left: 5px;
    background-color: #fff;
    border: red 1px solid;
    border-radius: 10px;
    align-items: center;
    animation: biilogo-pulse 2s infinite;
}

@keyframes biilogo-pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

#audio {
    display: none;
    /* Ẩn thẻ audio ban đầu */
}

/* --End Audio  */

/* Start Canvas Heart Falling */
.heart-fall {
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(102vh);
    }
}

.heart-fall-no-interaction {
    pointer-events: none;
    /* Tắt tương tác chuột */
}
@media only screen and (min-width: 600px) {
    .custom-qr .card-footer-right {
        display: flex;
        gap: 50px;
    }
}

/* --End Canvas Heart Falling */
